.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title {
  margin: 50px;
  color: #555;
}

input[type="text"] {
  margin-left: 10px;
}

input[type="submit"] {
  background-color: #3caf50;
  border: none;
  padding: 5px 20px;
  margin-left: 10px;
  font-size: 18px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.cityLabel,
.countryLabel {
  color: #555;
  margin-left: 10px;
  margin-right: 10px;
}
