.weatherImage {
	text-align: left
}

.div_0, .div_1, .div_2, .div_3, .div_4 {
	width: auto;
	text-align: center;
	margin: 20px;
}

.date {
	color: #555;
}

.clock {
	color: #555;
}

.temp {
	color: #555;
}
